@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "customfont";
  src: url("/fonts/customfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "dancingscript";
  src: url("/fonts/dancingscript.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "quando";
  src: url("/fonts/quando.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "bruno";
  src: url("/fonts/BrunoAceSC.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
} */

:root {
  --input-background: #f3f3f5;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* custom style */

body {
  background-color: #fff5e8;
}
.bg-input-background {
  background-color: var(--input-background);
}
.bn_theme {
  background: url("../../public/images/bgtheme.webp");
  background-size: cover;
  height: 600px;
  width: 100%;
}
.bg-theme {
  background: url("../../public/images/bgtheme.webp");
  background-size: cover;
  height: 100%;
}
.custom-card-bg,
.custom-table-bg {
  background-image: url("../../public/images/noise.webp"),
    radial-gradient(62.9% 100% at 0 0, #e894021a 0, #fff0 100%),
    radial-gradient(62.9% 100% at 100% 100%, #e894021a 0, #fff0 100%),
    linear-gradient(0deg, #1e1b15, #1e1b150d);
}
.to-foreground\/40 {
  --tw-gradient-to: hsl(38 5% 90%/0.4) var(--tw-gradient-to-position);
}
.giftribbon {
  top: -140px;
  left: 0px;
}
.sec_banner {
  background: var(--accent);
  height: 500px;
}

.foglithen-font {
  font-family: "customfont";
}
.font-dancing {
  font-family: "dancingscript";
}
.font-quando {
  font-family: "quando";
}
.font-bruno {
  font-family: "bruno";
}
.svggift {
  width: 100%;
  max-width: 120px;
  margin: auto;
  display: block;
  position: absolute;
  inset: -113px 0% auto;
}
.giftbox_open_ani {
  opacity: 0;
  width: 480px;
  position: absolute;
  inset: -70% 0% auto;
}

.giftbox:hover .giftbox_open_ani {
  opacity: 1;
}

.animate-spin {
  animation: spin 1s linear infinite;
}
.env_back {
  top: -170px;
  left: 0;
  z-index: -20;
}
.env_paper {
  top: -100px;
  left: 0;
  z-index: -10;
}
.btnauth {
  border: 1px solid #d9d0c9;
  padding: 6px 10px;
  border-radius: 5px;
  font-weight: 800px;
  text-transform: uppercase;
  color: #1e1b15;
  transition: all 0.3s ease;
}
.btnauth:hover {
  border: 1px solid #1e1b15;
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-zoomIn {
  animation: zoomIn 0.3s ease-out forwards;
}
.midgifting {
  background: url("../../public/images/bgtheme.webp");
  background-size: cover;
  height: 700px;
  width: 100%;
}

.greet_card {
  background: url("../../public/images/giftcard.webp");
  height: 360px;
  background-size: cover;
}
.greet_card::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(232, 169, 169, 0.3);
  transition: all 0.3s ease;
}
.playfullduck {
  height: 160px;
  width: auto;
  top: 110px;
  right: 50px;
  transform: rotate(-30deg);
  animation: playfullduck 3s ease-in-out infinite;
}
.ribbon {
  top: -30px;
  left: -36px;
  height: 220px;
}
.procard {
  background: url("../../public/images/giftcard.webp");
  height: 300px;
  background-size: cover;
  position: relative;
  overflow: hidden;
  transform: scale(1);
}
.productinner {
  height: 300px !important;
  width: 100%;
  transition: all 0.4s ease;
}
.procard:hover .productinner {
  transform: scale(1.1);
}

.btntmp {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  background: #d0ac80;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  cursor: pointer;
  border: none;
}
.btnadded {
  padding: 10px 12px;
  border: 1px solid #9c6b2e;
  border-radius: 9px !important;
  height: 28px;
  width: 100%;
  max-width: 130px;
}
.btntmp:after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #9c6b2e;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.btntmp:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.btntmp span {
  text-align: center;
  text-decoration: none;
  width: 100%;
  padding: 13px 20px;
  color: #fff;
  font-size: 1em;
  height: 50px;
  width: 205px;
  font-weight: 700;
  letter-spacing: 0.2em;
  z-index: 20;
  transition: all 0.3s ease-in-out;
}

.btntmp:hover span {
  color: #e9e8dc;
  animation: scaleUp 0.3s ease-in-out;
}


.scene {
 width: 100%;
 justify-content: center;
 align-items: center;
 display: flex;
 position: relative;
}

.cube {
 color: #ccc;
 cursor: pointer;
 transition: all 0.85s cubic-bezier(.17,.67,.14,.93);
 transform-style: preserve-3d;
 transform-origin: 100% 50%;
 width: 100%;
 height: 4em;
}

.cube:hover {
 transform: rotateX(-90deg);
}

.side {
 box-sizing: border-box;
 position: absolute;
 display: inline-block;
 height: 4em;
 width: 100%;
 text-align: center;
 text-transform: uppercase;
 font-weight: bold;
 display: flex;
 justify-content: center;
 align-items: center;
}

.top {
 background: wheat;
 color: #9b582d;
 transform: rotateX(90deg) translate3d(0, 0, 2em);
 box-shadow: inset 0 0 0 5px #fff;
}

.front {
 background: #65381b;
 color: #fff;
 box-shadow: inset 0 0 0 5px #fff;
 transform: translate3d(0, 0, 2em);
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes playfullduck {
  0%,
  100% {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(20deg);
  }
}
